@using System.Security.Claims
@model IEnumerable<Propietario>
@{
    ViewData["Title"] = "Propietario";
}
<h1>@ViewData["Title"]</h1>

<p>LISTA PROPIETARIOS.</p>
<link rel="stylesheet" href="~/css/styles.css" asp-append-version="true" />
<script src="https://kit.fontawesome.com/708362d465.js" crossorigin="anonymous"></script>

<div class="row">
    <div class="col-md-8">
        <table class="table">
            <thead>
                <tr>
                    <th>codigo</th>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>DNI</th>
                    <th>Email</th>
                    <th>Acciones</th>
                    using System.Security.Claims;

                    using System.Security.Claims;

                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.idpropietario</td>
                        <td>@item.nombre</td>
                        <td>@item.apellido</td>
                        <td>@item.dni</td>
                        <td>@item.mail</td>


                        <td>

                            <a asp-action="Editar" asp-route-id="@item.idpropietario" class="fa-solid fa-pen-to-square"
                                style="color:blue"></a>

                            @if (User.IsInRole("Administrador"))
                            {
                                    <a asp-action="Baja" asp-route-id="@item.idpropietario" class="fa-solid fa-trash"
                                        style="color:red"></a>
                                }
                            </td>


                        </tr>

                            }

                    <br>
                </thead>
            </table>
        </div>
    </div>

    <a asp-action="Agregar" class="btn btn-success">Crear nuevo</a>
