@model InmobiliariaBiolatti_LopezPujato.Models.Pago

@{
    ViewData["Title"] = "Detalle de Pago";
}

<h2>@ViewData["Title"]</h2>
<br>
<div class="col-md-40">
    <h4>Datos del Pago</h4>
    <br>
    <table class="table">
        <thead>
            <tr>
                <th>Pago nro</th>
                <th>Fecha de Pago</th>
                <th>Importe</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@Model.idpago</td>
                <td>@Model.fpago.ToShortDateString()</td>
                <td>@Model.importe</td>
            </tr>
        </tbody>
    </table>
    <h4>Datos del Contrato</h4>
    <br>
    <p><strong>Nombre del Inquilino:</strong> @Model.datosContrato?.datosinquilino</p>
    <p><strong>Datos del Inmueble:</strong> @Model.datosContrato?.datosinmueble</p>
    <p><strong>Fecha Desde:</strong> @Model.datosContrato?.fdesde</p>
    <p><strong>Fecha Hasta:</strong> @Model.datosContrato?.fhasta</p>

</div>

<a asp-action="Index" class="btn btn-primary">Volver</a>

