@model IEnumerable<InmobiliariaBiolatti_LopezPujato.Models.Pago>

@{
    ViewData["Title"] = "Gestion de pagos";
}

<h1>@ViewData["Title"]</h1>
<link rel="stylesheet" href="~/css/styles.css" asp-append-version="true" />
<script src="https://kit.fontawesome.com/708362d465.js" crossorigin="anonymous"></script>
<br>

<div class="row">
    <div class="col-md-8">
        <table class="table">
            <thead>
                <tr>
                    <th>Número de Pago</th>
                    <th>Nombre del Inquilino</th>
                    <th>Fecha de Inicio del Contrato</th>
                    <th>Fecha de Pago</th>
                    <th>Importe</th>
                    <th>Estado</th>
                    <th>Detalle</th>
                    <th>Acciones</th>

                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.idpago</td>
                        <td>@item.datosContrato.datosinquilino</td>
                        <td>@item.datosContrato.fdesde</td>
                        <td>@item.fpago.ToShortDateString()</td>
                        <td>@item.importe.ToString()</td>

                        @if (item.anulado == false)
                        {
                            <td></td>
                        }
                        else
                        {
                            <td style="color:red; font-weight:bold">Anulado</td>
                        }
                        <td>@item.detalle</td>
                        <td>
                            <a asp-action="Editar" asp-route-id="@item.idpago" class="fa-solid fa-pen-to-square"
                                style="color:blue"></a>
                            @if (User.IsInRole("Administrador"))
                            {
                                <a asp-action="anular" asp-route-id="@item.idpago" class="fa-solid fa-trash"
                                    style="color:red"></a>
                            }
                            <a asp-action="Detalle" asp-route-id="@item.idpago" class="fa-solid fa-file"
                                style="color:green"></a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<a asp-action="Agregar" class="btn btn-success">Crear nuevo</a>
<a asp-action="multa" class="btn btn-success">Cargar Multa</a>
