@model IEnumerable<Pago>
@{
    ViewData["Title"] = "Pagos";
}
<h1>@ViewData["Title"] </h1>
<link rel="stylesheet" href="~/css/styles.css" asp-append-version="true" />
<script src="https://kit.fontawesome.com/708362d465.js" crossorigin="anonymous"></script>
<br>
<p>LISTA DE Pagos</p>
<div class="row">
    <div class="col-md-8">
        <table class="table">
            <thead>
                <tr>
                    <th>Codigo</th>
                    <th>Codigo</th>
                    <th>pago</th>
                    <th>importe</th>
                    
                </tr>
                <tr>
                    @foreach (var item in Model)
                    {
                    <tr>
                        <td>@item.idpago</td>
                        <td>@item.idcontrato</td>
                        <td>@item.importe</td>
						<td>@item.fpago</td>
                        <td>
                    
                        </td>
                    </tr>
                    }
                </tr>
                <br>
            </thead>
        </table>
    </div>
</div>
<a asp-action="Agregar" class="btn btn-success">Crear nuevo</a>
