@model IEnumerable<InmobiliariaBiolatti_LopezPujato.Models.Contrato>
@{
    ViewData["Title"] = "Pagos";

}

<h1>@ViewData["Title"]</h1>
<link rel="stylesheet" href="~/css/styles.css" asp-append-version="true" />
<script src="https://kit.fontawesome.com/708362d465.js" crossorigin="anonymous"></script>

<h1>Gestion de pagos</h1>


<hr>

<div class="row align-items-center">
    <div class="col-4">
        <div class="input-group mb-3">
            <label class="input-group-text" for="filtroInput" id="basic-addon1">Buscador</label>
            <input  type="text" class="form-control "  name="otroInput" id="filtroInput" placeholder="Buscador">
        </div>
    </div>
    
    <div class="col-auto">
        <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
        <symbol id="check-circle-fill" fill="currentColor" viewBox="0 0 16 16">
            <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
        </symbol>
        </svg>

        @if(@TempData["msj"] != null){
            <div class="alert alert-primary alert-dismissible fade show" role="alert">
                <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Info:"><use xlink:href="#info-fill"/></svg>
                <strong>@TempData["msj"]</strong>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        }
    </div>
</div>

<table class="table">
    <thead>
        <tr>
			<th>
                @Html.DisplayNameFor(model => model.idinquilino)         
            </th>
   		 	<th>
                @Html.DisplayNameFor(model => model.datosinmueble)
            </th>
			<th>Acciones</th>
        </tr>
    </thead>
	<tbody>
		@foreach (var item in Model)
		{
			<tr>
			 	<td>
					//@Html.DisplayFor(modelItem => item.datosinquilino)
                    //@Html.DisplayFor(modelItem => item.datosinmueble)
				</td>
		        <td>
					@Html.DisplayFor(modelItem => item)
				</td>
				<td>
              	<a type="button" class="btn btn-warning" asp-action="VistaPago" asp-route-id="@item.idcontrato" title="Realizar pago"><span>Realizar pago</span></a>
                <a type="button" class="btn btn-primary" asp-action="VistaDetalles" asp-route-id="@item.idcontrato" title="Detalles"><span>Detalles</span></a>
				</td>
			</tr>
			}
		</tbody>
</table>











