@model InmobiliariaBiolatti_LopezPujato.Models.Inmueble;

@{
    <h1>@ViewData["Title"]</h1>
    int idinmueble = Model == null ? 0 : Model.idinmueble;
    var ltaPropietarios = ViewBag.Propietarios;
    var tipoinmueble = ViewBag.TipoInmueble;
    var habita= ViewBag.habita;
}


<div class="container mt-3">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h1 class="text-center"><b>Editar Inmueble</b></h1>
                    <form asp-action="ModInmueble" enctype="multipart/form-data" class="needs-validation" novalidate>
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <label asp-for="idinmueble" class="control-label"></label>
                            <input asp-for="idinmueble" class="form-control" readonly/>
                            <span asp-validation-for="idinmueble" class="number"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="direccion" class="control-label"></label>
                            <input asp-for="direccion" class="form-control" required />
                            <span asp-validation-for="direccion" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="ambientes" class="control-label"></label>
                            <input asp-for="ambientes" class="form-control" required />
                            <span asp-validation-for="ambientes" class="number text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="superficie" class="control-label"></label>
                            <input asp-for="superficie" class="form-control" required />
                            <span asp-validation-for="superficie" class="decimal text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="latitud" class="control-label"></label>
                            <input asp-for="latitud" class="form-control" required />
                            <span asp-validation-for="latitud" class="decimal text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="longitud" class="control-label"></label>
                            <input asp-for="longitud" class="form-control" required />
                            <span asp-validation-for="longitud" class="decimal text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="importe" class="control-label"></label>
                            <input asp-for="importe" class="form-control" required />
                            <span asp-validation-for="importe" class="decimal text-danger"></span>
                        </div>
			            <div>
				        <label class="control-label">Propietario</label>
				        <select class="form-control" name="idpropietario">

					                    @foreach (var item in ltaPropietarios)
					                    {
					    @:<option @(item.idpropietario==Model.idpropietario ? "selected" : "") value="@item.idpropietario">@item.ToString()</option>
					    }
				                </select>
				                    <span asp-validation-for="idpropietario" class="number" ></span>
			                    </div>
                                <div class="form-group">
                                <label class="control-label">Tipo</label>
                                <select class="form-control" name="tipoinmueble">
                                    @foreach (var kvp in tipoinmueble)
                                        @if (kvp == Model.tipoinmueble)
                                        {
                                            <option selected value="@kvp">@kvp</option>
                                        }
                                        else
                                        {
                                            <option value="@kvp">@kvp</option>
                                        }
                                    }
                                </select>
                            </div>

                         <div class="form-group">
                            <label class="control-label">Habilitado</label>
                            <select asp-for="habilitado" class="form-control" required>
                                <option value=""></option>
                                @foreach (var item in habita)
                                {
                                    <option value="@item">@item</option>
                                }
                            </select>
                            <span asp-validation-for="habilitado" class="number text-danger"></span>
                        </div>

                            <div class="form-group text-center mt-2">
                            <button type="submit" class="btn btn-primary">Guardar Cambios</button>
                            <a asp-action="index" class="btn btn-primary">Volver</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        // Evitar el envío del formulario si hay campos inválidos
        (function () {
            'use strict';
            window.addEventListener('load', function () {
                var forms = document.getElementsByClassName('needs-validation');
                var validation = Array.prototype.filter.call(forms, function (form) {
                    form.addEventListener('submit', function (event) {
                        if (form.checkValidity() === false) {
                            event.preventDefault();
                            event.stopPropagation();
                        }
                        form.classList.add('was-validated');
                    }, false);
                });
            }, false);
        })();
    </script>
}

			
