@model IEnumerable<Inmueble>
@{
    ViewData["Title"] = "Inmuebles";
}

<h1>@ViewData["Title"]</h1>
<link rel="stylesheet" href="~/css/styles.css" asp-append-version="true" />
<script src="https://kit.fontawesome.com/708362d465.js" crossorigin="anonymous"></script>

<p>En esta sección se listarán todos los Inmuebles.</p>
<div class="col-md-12">
    <table class="table">
        <thead>
            <tr>
          <th>Codigo</th>
                <th>Direccion</th>
                <th>Ambientes</th>
                <th>Superficie</th>
                <th>Latitud</th>
                <th>Longitud</th>
                <th>CodProp.</th>
                <th>Propietario</th>
                <th>Acciones</th>
                
            <tr>
                    @foreach (var item in Model)
                    {
                <tr>
                    <td>@item.idinmueble</td>
                    <td>@item.direccion</td>
                    <td>@item.ambientes</td>
                    <td>@item.superficie</td>
                    <td>@item.latitud</td>
                    <td>@item.longitud</td>
                    <td>@item.idpropietario</td>
                    <td>@item.datospropietario</td>
                <td>
                    <a asp-action="Editar" asp-route-id="@item.idinmueble" class="fa-solid fa-pen-to-square"
                        style="color:blue"></a>
                    <a asp-action="Baja" asp-route-id="@item.idinmueble" class="fa-solid fa-trash" style="color:red"></a>
                </td>


                </tr>
                    }
            </tr>


            </tr>
        </thead>
    </table>
</div>

<a asp-action="agregar" class="btn btn-success">Crear nuevo</a>