@model IEnumerable<Inquilino>
@{
    ViewData["Title"] = "Inquilinos";
}
<h1>@ViewData["Title"]</h1>
<link rel="stylesheet" href="~/css/styles.css" asp-append-version="true" />
<script src="https://kit.fontawesome.com/708362d465.js" crossorigin="anonymous"></script>


<p>En esta sección se listarán los Inquilinos.</p>

<div class="row">
    <div class="col-md-8">
        <table class="table">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>mail</th>
                    <th>clave</th>
                    <th>dni</th>
                    
                </tr>
                <tr>
                    @foreach (var item in Model)
                    {
                        <tr>

                        
                        <td>@item.nombre</td>
                        <td>@item.apellido</td>
                        <td>@item.mail</td>
                        <td>@item.clave</td>
                        <td>@item.dni</td>
                        <td>
                            <i class="fa-solid fa-pen-to-square"></i> <a asp-action="Editar"></a> |
                            <i class="fa-solid fa-trash" ></i> <a asp-action="Eliminar"></a>
                        </td>
                        <br>
                        </tr>


                    }
                </tr>


            </thead>


        </table>
    </div>
</div>


<a asp-action="Agregar" class="btn btn-success">Crear nuevo</a>

