@model InmobiliariaBiolatti_LopezPujato.Models.Contrato;
@{
    <h1>@ViewData["Title"]</h1>
    var ListaInmuebles = ViewBag.Inmuebles;
    var ListaInquilinos = ViewBag.Inquilinos;
    int? idcontrato = Model == null ? 0 : Model.idcontrato;
}
<div class="container mt-3">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h1 class="text-center"><b>Editar Contrato</b></h1>
                    <form asp-action="ModContrato" enctype="multipart/form-data" class="needs-validation" novalidate>
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <label asp-for="idcontrato" class="control-label"></label>
                            <input asp-for="idcontrato" class="form-control" readonly />
                            <span asp-validation-for="idcontrato" class="number text-danger"></span>
                        </div>
                        <div class="form-group">
                            <<label class="control-label"> Inmueble </label>
                            <select asp-for="idinmueble" class="form-control" required>
                                <option value="">Seleccione un inmueble</option>
                                @foreach (var item in ListaInmuebles)
                                {
                                    <option value="@item.idinmueble">@item.ToString()</option>
                                }
                            </select>
                            <span asp-validation-for="idinmueble" class="number text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Inquilino</label>
                            <select asp-for="idinquilino" class="form-control" required>
                                <option value="">Seleccione un inquilino</option>
                                @foreach (var item in ListaInquilinos)
                                {
                                    <option value="@item.idinquilino">@item.ToString()</option>
                                }
                            </select>
                            <span asp-validation-for="idinquilino" class="number text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="importe" class="control-label">Importe</label>
                            <input asp-for="importe" class="form-control" required />
                            <span asp-validation-for="importe" class="number text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="fdesde" class="control-label">Fecha Desde</label>
                            <input asp-for="fdesde" class="form-control" required />
                            <span asp-validation-for="fdesde" class="date text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="fhasta" class="control-label">Fecha Hasta</label>
                            <input asp-for="fhasta" class="form-control" required />
                            <span asp-validation-for="fhasta" class="date text-danger"></span>
                        </div>
                        <div class="form-group text-center mt-2">
                            <button type="submit" class="btn btn-primary">Guardar</button>
                            <a asp-action="index" class="btn btn-primary">Volver</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        // Evitar el envío del formulario si hay campos inválidos
        (function () {
            'use strict';
            window.addEventListener('load', function () {
                var forms = document.getElementsByClassName('needs-validation');
                var validation = Array.prototype.filter.call(forms, function (form) {
                    form.addEventListener('submit', function (event) {
                        if (form.checkValidity() === false) {
                            event.preventDefault();
                            event.stopPropagation();
                        }
                        form.classList.add('was-validated');
                    }, false);
                });
            }, false);
        })();
    </script>
}
