@model IEnumerable<Usuario>
@{
    ViewData["Title"] = "Usuario";
}
<h1>@ViewData["Title"]</h1>

<p>LISTA usuarios.</p>
<link rel="stylesheet" href="~/css/styles.css" asp-append-version="true" />
<script src="https://kit.fontawesome.com/708362d465.js" crossorigin="anonymous"></script>

<div class="row">
    <div class="col-md-8">
        <table class="table">
            <thead>
                <tr>
                    <th>codigo</th>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Email</th>
                    <th>Permiso</th>
                    <th>Acciones</th>
                </tr>

                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.IdUsuario</td>
                            <td>@item.Nombre</td>
                            <td>@item.Apellido</td>
                            <td>@item.Email</td>
                            <td>@Html.DisplayFor(modelItem => item.RolNombre)</td>
                            
                            
                            
                            
                            <td>
                            
                            
                            <a asp-action="editar" asp-route-id="@item.IdUsuario" class="fa-solid fa-pen-to-square" style="color:blue"></a> 
                            <a asp-action="Baja"asp-route-id="@item.IdUsuario" class="fa-solid fa-trash" style="color:red"></a>
                             <a asp-action="Detalle" asp-route-id="@item.IdUsuario" class="fa-solid fa-file" style="color:green"></a>
                            </td>
                        

                        </tr>

                    }
               
                <br>
            </thead>
        </table>
    </div>
</div>

<a asp-action="Create" class="btn btn-success">Crear nuevo</a>
